body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin-top: 50px;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
}

input {
    padding: 8px;
    width: 200px;
    margin: 10px;
}

button {
    padding: 10px 20px;
    background-color: rgb(39, 39, 184);
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: darkblue;
}

#output {
    font-size: 18px;
    margin-top: 20px;
    font-weight: bold;
}
